:root {
  --font-heading: "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --font-subheading: "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

:root {
  --background-color: rgba(3, 0, 20, 1);
  --text-color: #ffffff;
}

body {
  margin: 0;
  background-color: rgba(3, 0, 20, 1);
}

h1 {
  font-family: var(--font-heading);
  font-weight: 700;
}

h2,
h3 {
  font-family: var(--font-heading);
  font-weight: 700;
}

h4,
h5,
h6 {
  font-family: var(--font-subheading);
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
}

p {
  font-family: var(--font-subheading);
  font-weight: 400;
}